/* GLOBAL */

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  font-family: "Arial";
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 35px;
}

h2{
  font-size: 25px;
}

h3 {
  font-size: 20px;
  margin: 0;
}

h4{
  font-size: 15px;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

.darkGrey{
  color: #464646;
}

.pageRule{
  background-color: #F2F2F2;
  width: 95%;
  height: 0.1px;
  margin: auto;
}


/* HEADER */

#headerParent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#headerLogo{
  width: 170px;
}

#headerParent a{
  text-decoration: none;
  cursor: pointer;
  font-size: 23px;
}

#discoverSearchBar, #discoverSearchBarResultsParent{
  width: 700px;
  padding-left: 14px;
  padding-right: 14px;
}

#discoverSearchBar{
  position: relative;
  z-index: 5;
  margin-bottom: 0;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 3px;
  color: grey;
}

#discoverSearchBar:focus {
  border: 1px solid #5534F4;
  outline: none !important;
}

#discoverSearchBar:focus::placeholder {
  color: transparent;
}

#discoverSearchBarResultsParent{
  background-color: white;
  position: absolute;
  z-index: 5;
  display: none;
}

.searchResultParent{
  height: 45px;
  width: 97%;
  margin: auto;
}

.searchResultFlex{
  display: flex;
  align-items: center;
  height: 100%;
}

.searchResultFlex h3{
  text-decoration: none;
  margin: 0;
  font-size: 17px;
  color: #464646;
}

.searchResultRule{
  background-color: lightGrey;
  height: 0.2px;
  width: 100%;
}

.searchResultIcon{
  margin-right: 6px;
}


#discoverLink, #logoutLink{
  color: #5534F4;
  margin-left: 2%;
}

#headerRightSideParent{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
}

#headerProfilePic{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: lightgray;
  margin-left: 35px;
}

#headerProfileSection{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#headerProfileName{
  font-size: 23px;
  margin: 0;
  margin-left: 20px;
  color: #464646;
  text-align: left;
}

/* DISCOVER PAGE */

#discoverSectionParent{
}

#discoverOverlay{
  z-index: 4;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  display: none;
}

.discoverCategorySectionParent{
  margin-left: 2%;
  margin-right: 2%;
}

.retailersParentFlex{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.retailerParent{
  position: relative;
  margin: 10px;
}

.retailerTopSection,  .retailerBottomSection, .retailerGradientOverlay{
  width: 325px;
}

.retailerTopSection, .retailerGradientOverlay{
  height: 300px;
}
.retailerBackgroundImage, .retailerTopSection, .retailerGradientOverlay{
  border-radius: 5px 5px 0px 0px;
}



.retailerBottomSection{
  height: 50px;
  background-color: #F2F2F2;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  align-items: center;
}

.retailerBottomSection a{
  font-size: 18px;
  text-decoration: none;
  color: #002060;
  cursor: pointer;
  margin-left: 14px;
}

.retailerBackgroundImage{
  height: 100%;
  width: 100%;
}

.retailerGradientOverlay{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.78));
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
}

.retailerLogo{
  max-height: 35px;
  max-width: 150px;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
}

.retailerDetails{
  bottom: 70px;
  left: 25px;
  width: 275px;
  position: absolute;
  z-index: 3;
  color: white;
}

.retailerDetails h2{
  margin: 0;
  font-size: 30px;
}

.retailerCategory{
  margin-top: 2px;
  margin-bottom: 18px;
}

.retailerTags{
  display: inline;
}

.discoverCarouselControlParent{
  /* TEMPORARY */
  display: inherit;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.discoverCarouselControl{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.discoverCarouselArrow{
  height: 70px;
  width: 70px;
  border-radius: 50px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
   -moz-transition: background-color 0.3s;
   -webkit-transition: background-color 0.3s;
   -o-transition: background-color 0.3s;
}

.discoverCarouselArrow h2{
  color: #A6A6A6;
  text-align: center;
  font-size: 35px;
  padding: 32%;
  border-radius: 50%;

  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;

}

.discoverCarouselArrow:hover{
  background-color: #5534F4;
}

.discoverCarouselArrow h2:hover{
  color: white;
}

.discoverCarouselControl h4{
  color: #BFBFBF;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.categoryRule{
  background-color: #F2F2F2;
  width: 100%;
  height: 0.1px;
  margin-top: 15px;
}

.extendCategoryButton {
  display: none;
}

#discoverAdminViewFlex{
  background-color: #6C25FB;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px;
}

#discoverAdminViewFlex h3{
  margin-right: 8px;
  margin-left: 8px;
  color: white;
  font-size: 20px;
}

#discoverAdminViewFlex a{
  color: white;
}

.button{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  /*background-color: #5FA7FC;*/
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
}

.sub-button-parent{
  text-align: center;
}

.sub-button{
  background-color: lightgrey;
}

.sub-button i{
  font-size: 17px;
  color: grey;
  margin-top: 2px;
}

.subbed-button i{
  font-size: 14px;
  color: white;
  margin-top: 2px;
  margin-right: 1px;
}


.subbed-button{
  background-color: #6C25FB;
  color: white;
}





/* RETAILER PROFILE */


.blurredBackgroundImageParent {
  width: 100%;
  height: 130px;
  overflow: hidden;
  z-index: -1;
}

.blurredBackgroundImageParent .blurredBackgroundImage {
  object-fit: cover;
  width: 110%;
  height: 110%;
  margin: -5px;
  filter: blur(5px);
  overflow: hidden;
  z-index: inherit;
}


#retailerProfileLogoParent{
  width:270px;
  height: 210px;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#retailerProfileLogo{
  margin-top: 50px;
  width: 70%;
}

#retailerProfileParentFlex{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

#retailerProfileLeftParent{
  margin-top: -55px;
  z-index: 999999 !important;
  overflow: visible;
  width: 80%;
}

#retailerProfileRightParent{
  width: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#retailerProfileText{
  color: #464646;
}

#retailerProfileText h1{
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 5px;
}

#retailerProfileText h2{
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 3px;
}

#retailerProfileText h3{
  font-size: 18px;
  margin-top: 30px;
}

#retailerProfileTagsParent{
  margin-top: 20px;
}

.retailerProfileTags{
  font-size: 18px;
  display: inline;
}

#retailerProfileSocialMediaParentFlex{
  margin-top: 35px;
  display: flex;
}

.retailerProfileSocialMediaIconParent{
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.retailerProfileSocialMediaLink{
  width: 100%;
  font-size: 40px;
}

#retailerProfileLinks{
  margin-top: 30px;
  margin-bottom: 50px;
}

#retailerProfileLinks a{
  text-decoration: none;
  font-size: 22px;
  color: #002060;
  margin-bottom: 14px;
  display: block;
}

#retailerProfileWebsiteLink{
  margin-top: 50px;
  width: 100%;
}

.arrowButtonParent{
  display: flex;
  justify-content: center;
}


.arrowButton{
  width: 85px;
  height: 85px;
  background-color: #6C25FB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.arrowButton a{
  font-size: 47px;
  margin-left: 5px;
  text-decoration: none;
  color: white;
}

.arrowButtonTextParent{
  display: flex;
  justify-content: center;
}

.arrowButtonTextParent h4{
  color: #464646;
  font-size: 24px;
  margin-top: 17px;
  width: 140px;
  text-align: center;
}




/* LOGIN */

#loginParent{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#loginLeftPaneParent, #loginRightPaneParent{
  width: 50%;
  height: 100%;
  position: relative;
}

#loginLeftPaneParent{
  background-color: #5FA7FC;
}

#loginVerticalLeft,#loginVerticalRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  align-content: center;
}

#loginVerticalLeft{
  width: 69%;
  margin-top: 50px;
}

#loginVerticalRight{
  width: 80%;
  margin-top: 20px;
}


#loginVerticalLeft > *, #loginVerticalRight > *{
  width: 100%;
  z-index: 2;
}

#loginVerticalLeft h2{
  color: white;
  font-size: 5vh;
  margin: 0;
  padding-bottom: 2vh;
}

#loginDiscoverMockup{
  margin-top: 20px;
  width: 92%;
}

#loginDiscoverWhiteLogo{
  width: 30%;
}

#loginHorizontalPattern, #loginVerticalPattern, #loginArrow1, #loginArrow2, #loginArrow3{
  position: absolute;
  z-index: 1;
}

#loginHorizontalPattern{
  width: 400px;
  top: 20px;
  left: 0;
}

#loginVerticalPattern{
  height: 400px;
  bottom: 40px;
  right: 90px;
}

#loginArrow1{
  width: 260px;
  bottom: -100px;
  left: -30px;
  overflow: hidden;
}

#loginArrow2{
  width: 220px;
  bottom: 260px;
  left: -30px;
  overflow: hidden;
}

#loginArrow3{
  width: 260px;
  top: -60px;
  right: -50px;
  overflow: hidden;
}

#loginMainLogo{
  height: 19vh;
}

#loginSectionParent{
  text-align: center;
}

#loginSectionParent > *{
  color: #5D5D5D;
}

#loginSectionParent h3{
  font-size: 3vh;
}

.form{
  margin-top: 40px;
  text-align: left;
  font-size: 2.5vh;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.formInput{
  width: 100%;
  border: none;
  border-bottom: 1px solid #5D5D5D;
  font-size: 2.5vh;
  margin: 6px 0 2px 0;
  padding: 3px 8px 3px 6px;
}

.formInput:focus{
  border-bottom: 1px solid #6C25FB;
  outline: none;
}

.formButton{
  width: 102.5%;
  background-color: #6C25FB;
  padding: 8px;
  border-radius: 2px;
  margin: 0;
  border: none;
  color: white;
  font-size: 2.5vh;
  display: block;
  cursor: pointer;
}

.formError{
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.formError i, .formError h2{
  font-size: 14px;
  color: red;
}

.formError h2{
  margin: 0;
}

.formError i{
  margin-right: 5px;
}

#invalidLoginMessage, #loggedOutMessage{
  text-align: left;
  color: red;
}


/* REGISTER - ACCOUNT DETAILS */

.registerTitle, .registerSubtitle{
  color: #464646;
  width: 100%;
  text-align: center;
}

.registerTitle{
  font-size: 38px;
}

.registerSubtitle{
  font-size: 25px;
}

.registerTitleParent{
  margin-top: 40px;
}

#registerFormParent{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 70px;
}

#registerForm{
  width: auto;
  margin-top: 30px;
}

#passwordValidation{
  margin-top: 8px;
  margin-bottom: 4px;
}

#registerForm label, #passwordValidation h3{
  color: #5D5D5D;
  font-size: 17px;
}

#registerForm input{
  width: 350px;
}

#passwordValidation i, #passwordValidation h3{
  display: inline;
}

#passwordValidation i{
  color: lightGrey;
  margin-right: 9px;
}

#registerSubmitButton{
  width: 100% !important;
}



/* REGISTER - TAGS */

#registerTagsTitleParent h1{
  margin-bottom: 20px;
}

#registerTagsTitleParent h2{
  margin-bottom: 0;
  margin-top: 0;
}

#registerTagsParent{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.tagBubbleParent{
}

.tagBubble{
  background-color: lightgray;
  text-align: center;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  cursor: pointer;
  margin: 5px;
}

.tagBubble h3{
  color: white;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}

#completeRegistrationFormParent{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

#completeRegistrationForm{
  width: 300px;
}

.messageBar{
  background-color: #5534F4;
  color: white;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  display: none;
}

.messageBar h1{
  font-size: 23px;
  font-weight: bold;
}

.messageBar h2{
  font-size: 18px;
}


/* ERROR PAGE */

.errorPageParent{
  width: 90%;
  margin: auto;
  color: #5D5D5D;
  margin-top: 45px;
}

.errorPageParent img{
  width: 150px;
}
.errorPageParent a{
  color: #002060;
  text-decoration: none;
}



/* ADMIN HOME */

#adminHomeParent{
  width: 90%;
  margin-top: 20px;
  margin: auto;
  margin-top: 45px;
}

#adminHomeParent h1{
  color: #5D5D5D;
  margin-bottom: 10px;
}

#adminHomeFlex{
  display: flex;
  margin-top: 40px;
  margin-bottom: 80px;
}

.adminHomeCategoryParent{
  width: 300px;
  height: 250px;
  background-color: #F5F5F5;
  border-radius: 3px;
  margin-right: 30px;
}

.adminHomeCategoryInner{
  margin: 18px;
}

.adminHomeCategoryInner h2{
  font-size: 25px;
  color: #5D5D5D;
  margin-top: 5px;
  margin-bottom: 18px;
}

.adminHomeCategoryInner h3{
  font-size: 16px;
  color: #002060;
  margin-top: 7px;
  margin-bottom: 7px;
}

.adminHomeCategoryInner a{
  text-decoration: none;
}

#adminHomeLogoutLink{
  color: #002060;
  text-decoration: none;
}


/* EDIT PROFILE PAGE */

.editProfileTitle {
  margin: 8vh 8vh;
}
.editProfileButtonParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  text-align: center;
  left: 0;
  width: 75%;
}

.cancelButton {
  margin-left: 25%;
  width: 75%;
}

.editProfileButton {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 150%;
}

#retailerUpdateLogo{
  text-align: center;
}

.editRetailerButton{
  margin-right: 5px;
}

#editRetailerButtonFlex{
  display: flex;
}

#editRetailerLogoParent{
  background-color: lightgrey;
  width: 300px;
  padding: 6px;
}

/* FILTERED VIEW */

#filteredViewTitle{
  color: #5D5D5D;
  text-align: center;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 50px;
}

#filteredViewParentFlex{
  justify-content: center;
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#filteredViewBackToDiscover{
  text-decoration: none;
}

#filteredViewBackToDiscover h3{
  text-align: center;
  color: #5534F4;
  font-size: 25px;
}


/* PROFILE PAGE */

#profileParent{
  margin-left: 7%;
  margin-right: 7%;
}

#profileParentFlex{
  display: flex;
  justify-content: center;
}

#profileLeftParent{
  width: 62%;
  margin-right: 3%;
  margin-top: 30px;
  max-width: 900px;
}

#profileRightParent{
  width: auto;
  margin-left: 3%;
  margin-top: -60px;
  max-width: 350px;
  z-index: 999999 !important;
  overflow: visible;
}

#profilePictureParent{
  width: auto;
}

#profileProfilePicture{
  width: 240px;
  border-radius: 50%;
  overflow: visible;
  margin-bottom: 25px;
}

.profilePicture{
  width: 100px;
}

#profileText{
  display:inline;
}

#profileText h1{
  font-size: 43px;
  color: #464646;
  display:inline;
  margin-bottom: 0;
}

#profileUserDetails{
  color: #464646;
}

#profileUserDetails h2{
  font-size: 36px;
  margin-bottom: 4px;
  margin-top: 0;
}

#profileUserDetails h3{
  font-size: 20px;
}

#profileUserLinks{
  margin-top: 25px;
}

#profileUserLinks a{
  text-decoration: none;
}

#profileUserLinks h2{
  font-size: 20px;
  margin-bottom: 6px;
  margin-top: 0;
}


.loyaltyCard{
  border-radius: 3px;
  height: 165px;
  width: 360px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  z-index: -1;
  padding-bottom: 50px;
}

.center-span{
  top: 17px;
  position: relative;
  padding-left: 15px;
  color: #002060;
}

.loyaltyCardBackgroundImage{
  height: 300%;
  width: 300%;
  border-radius: 3px;
  filter: blur(4px);
  overflow: visible;
  margin: -10px;
  position: relative;
  z-index: -3;
}

#loyaltyCardParent{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
  margin-top: 30px;
}

.innerLoyaltyCard{
  position: absolute;
  top: 0px;
  width: 100%;
}

.loyaltyCardFlex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo{
  width: 110px;
  margin-top: 25px;
  margin-left: 30px;
  align-self: flex-start;
}

.loyaltyPointsParent{
  margin-top: 15px;
  margin-right: 35px;
  color: white;
  text-align: right;
}


.loyaltyPointsParent h2{
  font-size: 50px;
  margin: 0;
  margin-right: 1px;
}

.loyaltyPointsParent h3{
  font-size: 23px;
  margin: 0;
}

.pointsRedeemed{
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 17px;
}

#profileDiscoverReturnLink{
  text-decoration: none;
}

#profileDiscoverReturnLink h1{
  font-size: 22px;
  margin-top: 32px;
}

#profileNoCards{
  width: 80%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  color: #464646;
}

#profileNoCards img{
  width: 150px;
  margin-bottom: 10px;
}

#numberOfCardsParent h1{
  font-size: 28px;
  margin-top: 0;
}

