<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div id="discoverOverlay" th:fragment="headerSearchBarOverlay"></div>

<header>

    <div id="headerParent" th:fragment="header(loggedInUser)">

        <div th:fragment="headerLeftSide">
            <a href="/discover"><img id="headerLogo" src="/images/shophubGraphics/logoColour.svg" alt="Shophub Logo"></a>
        </div>

        <div id="discoverSearchBarParent" th:fragment="headerSearchBar">
            <form>
                <input type="text" id="discoverSearchBar" name="search" placeholder="&#x1F50E;&#xFE0E;  Search" autocomplete="off">
            </form>
            <div id="discoverSearchBarResultsParent">
                <! search results go here once created>
            </div>
        </div>

        <div id="headerRightSideParent" th:fragment="headerRightSide(loggedInUser)">

            <a href="/discover/" id="discoverLink">Discover</a>
            <div th:fragment="headerProfileSection(loggedInUser)" id="headerProfileSection">
                <img id="headerProfilePic" th:src="'/images/profiles/' + ${loggedInUser.profilePicture}" onerror="this.src = '/images/profiles/defaultProfile.jpg'" alt="Profile picture">
                <a href="/profile"><h3 id="headerProfileName" th:text="${loggedInUser.firstName}" >Profile</h3></a>
            </div>
        </div>

    </div>

    <div class="pageRule"></div>

</header>


</body>

<template id="searchResultTemplate" th:fragment="headerSearchBarTemplate">
    <div class="searchResultParent">
        <div class="searchResultRule"></div>
        <div class="searchResultFlex">
            <i class="searchResultIcon fa"></i>
            <a><h3>Search Result Name</h3></a>
        </div>
    </div>
</template>

<script src="/js/search.js" th:fragment="headerSearchBarScript"></script>

</html>
