<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="retailerParent" th:fragment="retailer(retailer)" >
    <div class="retailerTopSection">
        <img th:src="'/images/retailers/backgrounds/'+ ${retailer.backgroundImage}" class="retailerBackgroundImage" alt="Retailer background">
        <div class="retailerGradientOverlay"></div>
        <img class="retailerLogo" th:src="'/images/retailers/logos/'+ ${retailer.logo}" alt="Retailer logo">
        <div class="retailerDetails">
            <h2 class="retailerName" th:text="${retailer.name}">name</h2>
            <h4 class="retailerCategory" th:text="${retailer.category.name}">category</h4>

            <h4 class="retailerTags" th:each="tag, iterStat:${retailer.tags}"
                th:with="tagName='#' + ${tag.name} + ${iterStat.count != iterStat.size ? ', ' : ''}"
                th:text="${tagName}">
            </h4>

        </div>
    </div>
    <div class="retailerBottomSection">
        <a th:href="'/discover/retailer/profile/' + ${retailer.name}">More Details</a>
    </div>

    <div th:if ="${!#lists.contains(joinedRetailers, retailer.retailerId)}">
        <form th:action="@{/discover} + '?id=' + ${retailer.retailerId}" method="post">
            <div class="sub-button-parent">
                <button class="button sub-button"><i class="fa fa-plus"></i></button>
            </div>
        </form>
    </div>

    <div th:if ="${#lists.contains(joinedRetailers, retailer.retailerId)}">
        <div class="sub-button-parent">
            <a href="/profile"> <button class="button subbed-button"><i class="fa fa-check"></i></button> </a>
        </div>
    </div>

</div>

</body>
</body>


</html>
