<!DOCTYPE html>
<html lang="en" dir="ltr">
<div th:replace="fragments/head.html :: head(title='Discover')"/>

  <body>

  <div th:replace="fragments/header.html :: headerSearchBarOverlay"/>

    <header>
      <div th:replace="fragments/header.html :: header(loggedInUser=${loggedInUser})"/>
      <div class="pageRule"></div>
    </header>

    <div id="discoverAdminViewFlex" th:if="${loggedInRole == 'Admin'}">
        <h3>You are viewing this page in public view. This is what shoppers will see.</h3>
        <a href="/admin/home"><h3>Exit to site administration</h3></a>
    </div>

    <div id="discoverSectionParent">
      <div class="discoverCategorySectionParent">
        <div id="categorySectionBody">

          <div class="categoryParent" th:each="category : ${categories}">
            <div class="categoryHeaderParent">
              <h2 class="darkGrey" th:text="${category[0].category.name}">Category</h2>
              <div class="retailersParentFlex" id="retailerTemplateBody">

                <div th:each="retailer : ${category}">
                  <div th:replace="fragments/retailer.html :: retailer (retailer=${retailer})"></div>
                </div>

              </div>
            </div>
            <div class="extendCategoryButton">
              <div class="discoverCarouselControlParent">
                <div class="discoverCarouselControl">
                  <div class="discoverCarouselArrow">
                    <h2 id="carouselArrowText1"><i class="fa fa-chevron-down"></i></h2>
                  </div>
                  <h4>More</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="categoryRule"></div>

        </div>
      </div>
    </div>
  </body>

  <div th:replace="fragments/header.html :: headerSearchBarTemplate"/>
  <div th:replace="fragments/header.html :: headerSearchBarScript"/>

</html>
