<!DOCTYPE html>
<html lang="en" dir="ltr">
<div th:replace="fragments/head.html :: head(title='Search Result: Discover')"/>

  <body>

    <div th:replace="fragments/header.html :: headerSearchBarOverlay"/>

    <header>

      <div id="headerParent">
        <div th:replace="fragments/header.html :: headerLeftSide"/>
        <div th:replace="fragments/header.html :: headerSearchBar"/>
        <div th:replace="fragments/header.html :: headerRightSide(loggedInUser=${loggedInUser})"/>
      </div>

      <div class="pageRule"></div>

    </header>

    <div id="discoverAdminViewFlex" th:if="${loggedInRole == 'Admin'}">
        <h3>You are viewing this page in public view. This is what shoppers will see.</h3>
        <a href="/admin/home"><h3>Exit to site administration</h3></a>
    </div>

    <h1 id="filteredViewTitle" th:text="${title}">Search Results</h1>

    <div id="filteredViewParentFlex">

      <div th:each="retailer : ${retailers}">
        <div th:replace="fragments/retailer.html :: retailer (retailer=${retailer})"></div>
      </div>

    </div>

    <a href="/discover" id="filteredViewBackToDiscover"><h3>Back to Discover</h3></a>

  </body>

  <div th:replace="fragments/header.html :: headerSearchBarTemplate"/>
  <div th:replace="fragments/header.html :: headerSearchBarScript"/>

</html>
