<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head.html :: head(title='Profile')"/>
<body id="profileBody">

    <div th:replace="fragments/header.html :: headerSearchBarOverlay"/>

    <header>
        <div th:replace="fragments/header.html :: header(loggedInUser=${loggedInUser})"/>
        <div class="pageRule"></div>
    </header>

    <div class="blurredBackgroundImageParent">
        <img class="blurredBackgroundImage" src="/images/default/background.png">
    </div>

    <div id="profileParentFlex">
        <div id="profileLeftParent">
            <div id="profileText">
                <h1>Hey there, <h1 th:text="${firstName}"></h1></h1>
                <h1>. Here's your loyalty cards.</h1><br><br>
                <div th:if="${!loyaltyCards.isEmpty()}" id="numberOfCardsParent">
                    <h1 >You have </h1><h1 th:text="${numberOfCards}"></h1><h1> cards.</h1>
                </div>
            </div>

            <div th:if="${loyaltyCards.isEmpty()}" id="profileNoCards">
                <img src="/images/shophubGraphics/card.svg" alt="Loyalty card">
                <h2>You haven’t signed up to any cards yet. Go to the discover page to browse our retailers.</h2>
            </div>

            <div th:if="${!loyaltyCards.isEmpty()}"> <br>

            <div id="loyaltyCardParent">

                <div id="cardParent"></div>

                    <div th:each="loyaltyCard : ${loyaltyCards}" class="loyaltyCard">
                        <img th:src="'/images/retailers/backgrounds/' + ${loyaltyCard.retailer.backgroundImage}" class="loyaltyCardBackgroundImage" alt="Retailer background">
                        <div class = "innerLoyaltyCard">
                            <div class = "loyaltyCardFlex">
                                <img th:src="'/images/retailers/logos/' + ${loyaltyCard.retailer.logo}" class="logo" alt="Retailer logo"/>
                                <div class="loyaltyPointsParent">
                                    <h2 th:text="${loyaltyCard.points}">0</h2>
                                    <h3>Points</h3>
                                </div>
                            </div>
                            <h2 class="pointsRedeemed" th:text="${loyaltyCard.pointsRedeemed} + ' Points Redeemed'">0 Points Redeemed</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="profileRightParent">
            <div id="profilePictureParent">
                <img id="profileProfilePicture" th:src="@{${ '/images/profiles/' + profilePicture }}" alt="Profile Picture" onerror="this.src = '/images/profiles/defaultProfile.jpg'">
            </div>
            <div id="profileUserDetails">
                <h2 class="userName" th:text="${firstName + ' ' + lastName}"></h2>
                <h3 class="userEmail" th:text="${emailAddress}"></h3>
            </div>

            <div id="profileUserLinks">
                <a href="/profile/edit"><h2>Edit Profile</h2></a>
                <a href="/logout"><h2>Logout</h2></a>

                <a href="/discover/" id="profileDiscoverReturnLink"><h1>Back to discover</h1></a>
            </div>



        </div>

    </div>


<!-- cards[loyaltyCardStat.index] important line of code to select the current set of points for that retailer -->
</body>

<div th:replace="fragments/header.html :: headerSearchBarTemplate"/>
<div th:replace="fragments/header.html :: headerSearchBarScript"/>


</html>
