<!DOCTYPE html>
<html lang="en" dir="ltr">
  <div th:replace="fragments/head.html :: head(title='Register for an account')"/>
  <body>

  <header>
    <div id="headerParent">
      <div th:replace="fragments/header.html :: headerLeftSide"/>
      <div th:replace="fragments/header.html :: headerProfileSection(loggedInUser=${loggedInUser})"/>
    </div>
    <div class="pageRule"></div>
  </header>

  <div class="messageBar" id="registerTagErrorParent">
        <h1>There seems to be a problem</h1>
        <h2>You need to select a minimum of 3 tags to continue</h2>
  </div>

  <div class="registerTitleParent" id="registerTagsTitleParent">
    <h1 class="registerTitle">Let’s make this personal</h1>
    <h2 class="registerSubtitle">We tailor the discounts you see based on your interests.</h2>
    <h2 class="registerSubtitle">Select a minimum of 3 tags that interest you (sharing is caring).</h2>
  </div>

  <div id="registerTagsParent">
    <div id="tagBubbleParent" th:each="tag : ${tags}">
      <div class="tagBubble" th:id="'tagBubble' + ${tag.tagId}">
        <h3 th:text="'#' + ${tag.name}" th:id="'tagText' + ${tag.tagId}"></h3>
      </div>
    </div>
  </div>

  <div id="completeRegistrationFormParent">
    <form id="completeRegistrationForm">
      <input type="submit" id="completeRegistrationButton" class="formButton" value="Save">
    </form>
  </div>


  </body>

  <script src="/js/tagSelection.js"></script>

  <script th:nonce="${cspNonce}" th:inline="javascript" th:each="tag : ${tags}">
    /*<![CDATA[*/
    $(/*[['#tagBubble' + ${tag.tagId}]]*/ 'default').click(function(){
      selectTag(/*[[${tag.tagId}]]*/ 'default');
    });
    /*]]>*/
  </script>

</html>



