<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head.html :: head(title=${retailer.name})"/>

<body>

    <div th:replace="fragments/header.html :: headerSearchBarOverlay"/>

    <header>
        <div th:replace="fragments/header.html :: header(loggedInUser=${loggedInUser})"/>
    </header>

    <div class="blurredBackgroundImageParent">
        <img class="blurredBackgroundImage" th:src="'/images/retailers/backgrounds/'+${retailer.backgroundImage}" onerror="this.src='/images/default/background.png'" alt="Retailer background">
    </div>

    <div id="retailerProfileParentFlex">

        <div id="retailerProfileLeftParent">

            <div id="retailerProfileLogoParent">
                <img id="retailerProfileLogo" th:src="'/images/retailers/logos/'+${retailer.logo}" onerror="this.src='/images/default/logo.svg'" alt="Retailer logo">
            </div>

            <div id="retailerProfileText">

                <h1 th:text="${retailer.name}"></h1>
                <h2 th:text="${retailer.category.name}"></h2>
                <div id="retailerProfileTagsParent">
                    <h4 class="retailerProfileTags" th:each="tag, iterStat:${retailer.tags}"
                        th:with="tagName='#' + ${tag.name} + ${iterStat.count != iterStat.size ? ', ' : ''}"
                        th:text="${tagName}">
                    </h4>
                </div>
                <h3 id="retailerProfileDescription" th:text="${retailer.description}"></h3>

                <div th:if="${retailer.socialMedias.size()>0}" id="retailerProfileSocialMediaParentFlex">
                    <div th:each="social: ${retailer.socialMedias}" class="retailerProfileSocialMediaIconParent">
                        <a th:href="'https://'+${social.socialMediaUrl}" class="retailerProfileSocialMediaLink">
                            <i th:class="${social.platform.iconClassName}" th:id="'socialMediaLink_' + ${social.retailerSocialMediaId}"></i>
                        </a>
                    </div>
                </div>

            </div>

            <div id="retailerProfileLinks">
                <a href="edit/" th:if="${loggedInUser.role.name == 'Admin'}" th:href="'/admin/retailer/edit/' + ${retailer.name}">Edit Profile</a>
                <a href="/discover/">Back to Discover</a>
            </div>

        </div>

        <div id="retailerProfileRightParent">
            <div id="retailerProfileWebsiteLink">
                <div class="arrowButtonParent">
                    <div class="arrowButton">
                        <a th:href="'https://'+${retailer.websiteUrl}"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="arrowButtonTextParent">
                    <h4>Click here to shop now</h4>
                </div>
            </div>
        </div>


    </div>
</body>

<div th:replace="fragments/header.html :: headerSearchBarTemplate"/>
<div th:replace="fragments/header.html :: headerSearchBarScript"/>

<script th:nonce="${cspNonce}" th:inline="javascript" th:each="social: ${retailer.socialMedias}">
/*<![CDATA[*/
    var socialMediaLinkId = /*[[${social.retailerSocialMediaId}]]*/ 'default';
    document.getElementById("socialMediaLink_" + socialMediaLinkId).style.color = /*[[${social.platform.hexCode}]]*/ 'default';
/*]]>*/
</script>


</html>